{% extends 'home/main.html' %} {% load static %} {% block title %}Portfolio{% endblock %}{% block content %}
<div class="container">
    <!--==========================
      Contact Section
    ============================-->

    <section id="contact" class="wow">
        <div class="container">
            <div class="section-header">
                <h2>Contact</h2>
                <p>Full time Designers (available througout the day) based in Nairobi(Kenya) with many years experience. We are available for short, medium and long-term projects and always interested in new project opportunities.
                </p>
            </div>
        </div>
    </section>
    <section id="contact" class="wow">
        <div class="container">
            <div class="row contact-info">
                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="fa fa-whatsapp"></i>
                        <h3>Whatsapp</h3>
                        <address><a href="https://api.whatsapp.com/send?phone=254712696905&text=Hello.">+254 712 696905</a>, <a href="https://api.whatsapp.com/send?phone=254717029038&text=Hello.">+254 717029038</a></address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="fa fa-phone"></i>
                        <h3>Phone Number</h3>
                        <p><a href="tel:+254 712 696905">+254 712 696905</a>,
                            <a href="tel:+254 719 505451">+254 719 505451</a>,
                            <a href="tel:+254 736 176644">+254 736 176644</a>,
                            <a href="tel:+254 717 029038">+254 717 029038</a>,
                            <a href="tel:+254 762 223960">++254 762 223960</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="fa fa-envelope"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:braamscreation@gmail.com">braamscreation@gmail.com</a></p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- #contact -->
</div>
{% endblock content %}