{% load static %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Braams Creations</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <!--<link href="{% static 'img/favicon.png'%}" rel="icon"> -->
    <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css'%}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>

<body id="body">

    <!--==========================
    Top Bar
  ============================-->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
                <i class="fa fa-envelope-o"></i> <a href="mailto:braamscreation@gmail.com">braamscreation@gmail.com</a>
                <i class="fa fa-phone"></i> +254 712 696905
            </div>
            <div class="social-links float-right">
                <a href="https://api.whatsapp.com/send?phone=254712696905&text=Hello."></i>
                </a>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </section>

    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="{% url 'home' %}" class="scrollto">Bra<span>ams</span> Crea<span>tions</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="{% url 'fashionhub' %}">Braams Fashion Hub</a></li>
                    <li><a href="{% url 'graphics' %}">Braams Graphics</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">

        <div class="intro-content">
            <h2>We can take <span>your ideas</span><br>and bring them to life</h2>
            <div class="text-center">
                <a href="https://api.whatsapp.com/send?phone=254712696905&text=Hello." class="btn btn-outline-success mb-2"><i class="fa fa-whatsapp" style="font-size: 24px;"></i> WhatsApp</a>
                <a href="mailto:braamscreation@gmail.com" class="btn btn-outline-secondary mb-2"><i class="fa fa-envelope" style="font-size: 24px;"></i> Email</a>
                <a href="tel:+254 712 696905" class="btn btn-outline-danger mb-2"><i class="fa fa-phone" style="font-size: 24px;"></i> Telephone</a>
            </div>
        </div>

        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('/img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('/img/intro-carousel/2.jpg');"></div>
            <div class="item" style="background-image: url('/img/intro-carousel/3.jpg');"></div>
            <div class="item" style="background-image: url('/img/intro-carousel/4.jpg');"></div>
            <div class="item" style="background-image: url('/img/intro-carousel/5.jpg');"></div>
        </div>

    </section>
    <!-- #intro -->

    <main id="main">

        <!--==========================
      About Section
    ============================-->
        <section id="about" class="wow">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-img text-center">
                        <img src="{% static 'img/about-img.jpg' %}" alt="">
                    </div>

                    <div class="col-lg-6 content">
                        <h2>Fashion & Graphics desighn at Brism Brands</h2>
                        <h3><strong>
                            An extremely dedicated group with extreme attention to detail. 
                        </strong>
                            <br>
                            <span class="badge badge-warning pt-1 pb-1 pr-1 pl-1 mr-1">  Fahion design</span>
                            <span class="badge badge-info pt-1 pb-1 pr-1 pl-1 mr-1">Textile design </span>
                            <span class="badge badge-danger pt-1 pb-1 pr-1 pl-1 mr-1"> Logo design</span>
                            <span class="badge badge-primary pt-1 pb-1 pr-1 pl-1 mr-1"> Print design</span>
                            <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Adobe Photoshop </span>
                            <span class="badge badge-dark pt-1 pb-1 pr-1 pl-1 mr-1"> Adobe Lightroom </span>
                            <span class="badge badge-success pt-1 pb-1 pr-1 pl-1 mr-1"> Digital Printing</span>
                            <span class="badge badge-warning pt-1 pb-1 pr-1 pl-1 mr-1">  Adobe Illustrator</span>
                        </h3>
                        <ul>
                            If you have a great concept for a brand and ready to get started but don't know where to quite begin - I can help! We lead in our industries by providing the high quality affordable and satisfying brands to our clients. We also keep our purpose in providing
                            enhanced services and relationships to our valued clients.
                        </ul>

                    </div>
                </div>

            </div>
        </section>
        <!-- #about -->
        <!--==========================
      Services Section
    ============================-->
        <section id="services">
            <div class="container">
                <div class="section-header">
                    <h2>Services</h2>
                    <p>With many years of experience in the industry, we can lead you through the process step by step and offer creative support along the way by giving you design options that will work best with your budget. Our services goes to all through
                        our market team approach, where we become patners in our client's business development through intelligently listening and single point of entry.
                    </p>
                </div>

                <div class="blog-card phototwo">
                    <div class="meta">
                        <div class="photo"></div>
                        <ul class="details">
                            <li class="tags">
                                <ul>
                                    <li><a>Branding</a></li>
                                    <li><a>Large Format Printing</a></li>
                                    <li><a>Books Publication</a></li>
                                    <li><a>Posters</a></li>
                                    <li><a>Fliers</a></li>
                                    <li><a>Gift bags</a></li>
                                    <li><a>Etc..</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="description">
                        <h1>Graphics design</h1>
                        <h2>We always deliver services better than expected</h2>
                        <p> Do you need high-quality vector designs for your t-shirts, logos, stickers, album art and more? We are here to help!<br><small><strong>Adobe Photoshop & Adobe Lightroom,
                            Logo design, Cover design, Poster design, Adobe Illustrator</strong></small></p>
                        <p class="read-more">
                            <a href="{% url 'graphics' %}">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="blog-card photoone alt">
                    <div class="meta">
                        <div class="photo"></div>
                        <ul class="details">
                            <ul>
                                <li><a>Official suits</a></li>
                                <li><a>Events Outfit</a></li>
                                <li><a>African Outfits</a></li>
                                <li><a>Wedding Outfits</a></li>
                                <li><a>Casual Outfits</a></li>
                                <li><a>Graduation gowns</a></li>
                                <li><a>Kids Outfits</a></li>
                                <li><a>Footwear</a></li>
                                <li><a>Ankara ladies/gents shoes</a></li>
                                <li><a>Snickers ladies/gents shoes</a></li>
                                <li><a>Unisex rubber shoes</a></li>
                                <li><a>Sandals/Open shoes</a></li>
                                <li><a>Customized bags</a></li>
                                <li><a>Etc..</a></li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="description">
                        <h1>Fashion design</h1>
                        <h2>Opening a door to the future </h2>
                        <p>Skills include designing collections from the bottom up and an understanding of process from start to finish.<br><br><br><br></p>
                        <p class="read-more">
                            <a href="{% url 'fashionhub' %}">Read More</a>
                        </p>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box wow">
                            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                            <h4 class="title"><a href="">Fashion design</a></h4>
                            <p class="description">Skills include designing collections from the bottom up and an understanding of process from start to finish.<br><br><br><br></p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="box wow">
                            <div class="icon"><i class="fa fa-picture-o"></i></div>
                            <h4 class="title"><a href="">Graphic Design</a></h4>
                            <p class="description">Do you need high-quality vector designs for your t-shirts, logos, stickers, album art and more? We are here to help!<br><small><strong>Adobe Photoshop & Adobe Lightroom,
                                Logo design, Cover design, Poster design, Adobe Illustrator</strong></small></p>
                        </div>
                    </div>
                </div>
-->
            </div>
        </section>
        <!-- #services -->


        <!--==========================
      Mission Section
    ============================-->
        <section id="services">
            <div class="container">
                <div class="section-header">
                    <h2>Our Mission, Vision and values</h2>
                    <p><strong>Mission :</strong>To provide expectional services and follow our promises to the later. We strive to deliver individualism solutions to our client's needs and add value to their businesses.With many years of experience in the
                        industry, we can lead you through the process step by step and offer creative support along the way by giving you design options that will work best with your budget.
                        <p><strong>Vision :</strong> At Braams Creations we endevour to become the benchmark of the outstanding quality services in all industries.
                        </p>
                        <p><strong>Values :</strong> As a business we are commited to our principles, products, team, patners and clients.
                        </p>
                </div>

            </div>
        </section>
        <!-- #mission -->
        <!--==========================
      Testimonials Section
    ============================-->
        <section id="testimonials" class="wow">
            <div class="container">
                <div class="section-header">
                    <h2>Testimonials</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">

                    <div class="testimonial-item">
                        <p>
                            <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt=""> Brism has been a life saver to me. The strong pool of outsourced talent has helped me increase productivity.<br>
                            <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
                        </p>
                        <h3>Stephen Murichu</h3>
                        <h4>Web developer</h4>
                        <br>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt=""> Brism is great when i need I need work done according to my specification<br><br>
                            <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
                        </p>
                        <h3>Charles Mugo</h3>
                        <h4>Freelancer</h4>
                        <br>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt=""> Brism made it easy and fun to choose a corporate logo for my business.<br><br>
                            <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
                        </p>
                        <h3>Kelly James</h3>
                        <h4>Store Owner</h4>
                        <br>
                    </div>

                    <div class="testimonial-item">
                        <p>
                            <img src="{% static 'img/quote-sign-left.png'%}" class="quote-sign-left" alt=""> I am amazed by the quality of products made at Brism.<br><br><br>
                            <img src="{% static 'img/quote-sign-right.png'%}" class="quote-sign-right" alt="">
                        </p>
                        <h3>Crystal Magicals</h3>
                        <br>
                    </div>
                </div>

            </div>
        </section>
        <!-- #testimonials -->

        <!--==========================
      Our Team Section
    ============================-->
        <section id="team" class="wow">
            <div class="container">
                <div class="section-header">
                    <h2>Team</h2>
                </div>
                <div class="row text-center">
                    <div class="col-lg-3 col-md-3">
                        <div class="member">
                            <div class="pic"><img src="{% static 'img/team-1.jpg'%}" alt=""></div>
                            <div class="details">
                                <h4>Brian Simba</h4>
                                <span>Chief Designer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <div class="member">
                            <div class="pic"><img src="{% static 'img/team-2.jpg'%}" alt=""></div>
                            <div class="details">
                                <h4>Agnes Wamaitha</h4>
                                <span>Fashion & Graphics Designer</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- #team -->
    </main>

    <!--==========================
                                Footer
                            ==============-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 footer-info">
                        <h5>Braams Creations</h3>
                            <p>Always Deliver Best than Expected.</p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="{% url 'fashionhub' %}">Fashion Hub</a></li>
                            <li><a href="{% url 'graphics' %}">Braams Graphics</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            <strong>Phone:</strong> <a href="tel:+254 712 696905">+254 712 696905</a>,
                            <a href="tel:+254 719 505451">+254 719 505451</a>,
                            <a href="tel:+254 736 176644">+254 736 176644</a>,
                            <a href="tel:+254 717 029038">+254 717 029038</a>,
                            <a href="tel:+254 762 223960">+254 762 223960</a><br>
                            <strong>Email:</strong>braamscreation@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Subscribe to receive latest news</h4>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Braams Creations</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/superfish/hoverIntent.js'%}"></script>
    <script src="{% static 'lib/superfish/superfish.min.js'%}"></script>
    <script src="{% static 'lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'lib/magnific-popup/magnific-popup.min.js'%}"></script>
    <script src="{% static 'lib/sticky/sticky.js'%}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js'%}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/testimonials.js'%}"></script>

</body>

</html>

</html>

</html>
