{% load static %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Braams Creations</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css'%}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fashionstyle.css'%}">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>

<body id="body">
    
    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <h4><a href="{% url 'home' %}" class="scrollto"><img class="main-logo" src="{% static 'img/braamscreation2.png' %}"/> BRAAMS CREATIONS</a></h4>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <!--<li class="menu-active"><a href="">Home</a></li> -->
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'fashionhub' %}">Braams Fashion Hub</a></li>
                    <li><a href="{% url 'graphics' %}">Braams Graphics</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->
    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">

        <div class="intro-content">
            <h2>We can take <span>your ideas</span><br>and bring them to life</h2>
            <div class="text-center">
                <a href="https://api.whatsapp.com/send?phone=254712696905&text=Hello." class="btn btn-outline-success mb-2"><i class="fa fa-whatsapp" style="font-size: 24px;"></i> WhatsApp</a>
                <a href="mailto:braamscreation@gmail.com" class="btn btn-outline-secondary mb-2"><i class="fa fa-envelope" style="font-size: 24px;"></i> Email</a>
                <a href="tel:+254 712 696905" class="btn btn-outline-danger mb-2"><i class="fa fa-phone" style="font-size: 24px;"></i> Telephone</a>
            </div>
        </div>

    </section>
    <!-- #intro -->

    <main id="main">

        <!--==========================
      About Section
    ============================-->
        <section id="about" class="wow">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 about-img text-center">
                        <img src="{% static 'img/homep2.png' %}" alt="">
                    </div>

                    <div class="col-lg-6 content">
                        <h2>Fashion & Graphics desighn at Braams Creations</h2>
                        <h3><strong>
                            An extremely dedicated group with extreme attention to detail. 
                        </strong>
                            <br>
                            <span class="badge badge-warning pt-1 pb-1 pr-1 pl-1 mr-1">  Fahion design</span>
                            <span class="badge badge-info pt-1 pb-1 pr-1 pl-1 mr-1">Books Publication </span>
                            <span class="badge badge-danger pt-1 pb-1 pr-1 pl-1 mr-1"> Logo design</span>
                            <span class="badge badge-primary pt-1 pb-1 pr-1 pl-1 mr-1"> Print design</span>
                            <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Branding Promotional Items </span>
                            <span class="badge badge-dark pt-1 pb-1 pr-1 pl-1 mr-1"> Posters Designing</span>
                            <span class="badge badge-success pt-1 pb-1 pr-1 pl-1 mr-1"> Digital Printing</span>
                            <span class="badge badge-warning pt-1 pb-1 pr-1 pl-1 mr-1">  Large Format Printing</span>
                            <span class="badge badge-info pt-1 pb-1 pr-1 pl-1 mr-1">  Outfits Designing</span>
                            <span class="badge badge-danger pt-1 pb-1 pr-1 pl-1 mr-1">  Etc...</span>
                        </h3>
                        <ul>
                            If you have a great concept for a brand and ready to get started but don't know where to quite begin - We can help! We lead in our industries by providing the high quality, affordable and satisfying brands to our clients. We also keep our purpose in providing
                            enhanced services and relationships to our valued clients.
                        </ul>

                    </div>
                </div>

            </div>
        </section>
        <!-- #about -->
        <!--==========================
      Services Section
    ============================-->
        <section id="services">
            <div class="container">
                <div class="title text-center">
                    <h3>Our Braches</h3>
                    <p>Bramms creation is divided into two sections</p>
                </div>
                <div class="row text-center">
                    <div class="col-md-6">
                    <div class="up-title">Braams Fashion Hub</div>
                    <div class="post-card">
                        <div class="post-img  text-center">
                            <img src="{% static 'img/Banner.png' %}" />
                        </div>
                        <div class="post-content">
                            <a href="{% url 'fashionhub' %}"><div class="category">Explore</div></a>
                                <h1 class="title">Fashion Hub</h1>
                                <h2 class="sub_title">Be Trendy for Every Mood.</h2>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-6">
                    <div class="up-title">Braams Graphics</div>
                        <div class="post-card">
                        <div class="post-img  text-center">
                            <img src="{% static 'img/Banner2.png' %}" />
                        </div>
                        <div class="post-content">
                            <a href="{% url 'graphics' %}"><div class="category">Explore</div></a>
                                <h1 class="title"> Graphics </h1>
                                <h2 class="sub_title">Be a brand above.</h2>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </section>
    <br><br>

        <!--==========================
      Mission Section
    ============================-->
    <section id="about pt-5">
        <div class="container">
            <div class="row about-extra p-4">
                <div class="col-lg-6 wow fadeInUp text-center">
                    <img src="{% static 'img/braams2.png' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                    <h4>Our Mission.</h4>
                    <p>
                        To provide expectional services and follow our promises to the later. We strive to deliver individualism solutions to our client's needs and add value to their businesses.With many years of experience in the industry, we can lead you through the process step by step and offer creative support along the way by giving you design options that will work best with your budget.
                    </p>
                    <p>
                        To become the preferred company-applying insigt, service quality and innovation to create sustainable growth for business and society.
                    </p>
                </div>
            </div>

            <div class="row about-extra p-4">
                <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="{% static 'img/braams3.png' %}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <h4>Our Vission.</h4>
                    <p>
                        At Braams Creations we endevour to become the benchmark of the outstanding quality services in all industries.
                    </p>
                    <p>
                        To be the region's best at creating designs for the brands that we represent, and strategically act in the best interest of our customers without fear of compromising the core values that make us who we are.
                    </p>
                </div>

            </div>


            <div class="row about-extra p-4">
                <div class="col-lg-6 wow fadeInUp">
                    <img src="{% static 'img/braams1.png' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                    <h4>Our Values.</h4>
                    <p style="font-family: "Montserrat", sans-serif;">
                        <span class="badge badge-info pt-1 pb-1 pr-1 pl-1 mr-1">  Integrity</span>
                        <span class="badge badge-success pt-1 pb-1 pr-1 pl-1 mr-1">  Responsibility</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1">  Care</span>
                        <span class="badge badge-warning pt-1 pb-1 pr-1 pl-1 mr-1">  Openness</span><br>
                        As a business we are commited to our principles, products, team, patners and clients.
                    </p>
                    <p>
                        Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
                    </p>
                </div>
            </div>
            </div>
        </div>
    </section>
        <!-- #mission -->


        <!--==========================
      Testimonials Section
 ============================-->
        <section class="container wow pt-5">
            <div class="title text-center">
                <h3>TESTIMONIALS</h3>
            </div>
            <div class="testimonials-container">
                <div class="progress-bar"></div>
                <div class="fa fa-quote-right fa-quote"></div>
                <div class="fa fa-quote-left fa-quote"></div>
                <p class="testimonial">Braams creation made it easy and fun to choose a corporate logo for my business.</p>
                <div class="centered-items">
                    <div class="user-details">
                        <h4 class="username">Stephen Murichu</h4>
                        <p class="role">Web developer</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--==========================
                                Footer
    ==============-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 footer-info">
                        <h5>Braams Creations</h3>
                            <p>Always Deliver Best than Expected.</p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="{% url 'fashionhub' %}">Fashion Hub</a></li>
                            <li><a href="{% url 'graphics' %}">Braams Graphics</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            <strong>Phone:</strong> <a href="tel:+254 712 696905">+254 712 696905</a>,
                            <a href="tel:+254 719 505451">+254 719 505451</a>,
                            <a href="tel:+254 736 176644">+254 736 176644</a>,
                            <a href="tel:+254 717 029038">+254 717 029038</a>,
                            <a href="tel:+254 762 223960">+254 762 223960</a><br>
                            <strong>Email:</strong>braamscreation@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/Brian.M.Simba"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Subscribe to receive latest news</h4>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Braams Creations</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Preloader -->
    <div class="wrapper">
        <div class="logo-svg">
            <div id="preloader"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/superfish/hoverIntent.js'%}"></script>
    <script src="{% static 'lib/superfish/superfish.min.js'%}"></script>
    <script src="{% static 'lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'lib/magnific-popup/magnific-popup.min.js'%}"></script>
    <script src="{% static 'lib/sticky/sticky.js'%}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js'%}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/testimonials.js'%}"></script>

</body>

</html>