{% extends 'home/main.html' %} {% load static %} {% block title %}Portfolio{% endblock %}{% block content %}

<!--==========================
      Our Portfolio Section
    ============================-->
<style>
    .container1 {
        margin: 0 auto;
    }
    
    .column {
        padding: 10px;
    }
    
    .title {
        color: #666666;
        text-transform: uppercase;
    }
    
    .post-card {
        position: relative;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        background: #fff;
        min-width: 270px;
        height: 300px;
    }
    
    .post-card:hover,
    .hover {
        -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    }
    
    .date {
        top: 20px;
        right: 20px;
        z-index: 1;
        background: #e74c3c;
        width: 55px;
        height: 55px;
        border-radius: 100%;
        color: #FFFFFF;
        text-align: center;
        padding: 12.5px 0;
    }
    
    .post-content {
        bottom: 0;
        background: #FFFFFF;
        width: 100%;
        padding: 30px;
    }
    
    .category {
        position: absolute;
        top: -34px;
        left: 0;
        background: #e74c3c;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .title {
        margin: 0;
        padding: 0 0 10px;
        color: #333333;
        font-size: 26px;
        font-weight: 700;
    }
    
    .sub_title {
        margin: 0;
        padding: 0 0 20px;
        color: #e74c3c;
        font-size: 20px;
        font-weight: 400;
    }
    
    .description {
        color: #666666;
        font-size: 14px;
        line-height: 1.8em;
        display: none;
    }
    
    .up-title {
        margin: 0 0 15px;
        color: #666666;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .hover .post-content .description {
        display: block !important;
        height: auto !important;
        opacity: 1 !important;
    }
    
    .post-meta {
        margin: 30px 0 0;
        color: #999999;
    }
    
    .timestamp {
        margin: 0 16px 0 0;
    }
    
    .post-meta a {
        color: #0a07a5;
        text-decoration: none;
    }
</style>
<div class="pt-4"></div>
<div class="section-header container">
    <h2>Braams Fashion Hub</h2>
</div>
<form class="text-center">
    <label class="switch">
              <input type="checkbox" id="toggle" checked="true" />
              <div class="slider round"></div>
          </label>
</form>
<div id="menu1">
    <div class="text-center">
        <p>Click the above switch to view our portfolio</p>
    </div>
    <div class="container container1 pt-5 mb-5">
        <div class="column">
            <div class="post-card hover">
                <div class="post-content">
                    <div class="category">Fashion designers and consultants </div>
                    <h2 class="sub_title">We have a lot of experience in fashion trends.</h2>
                    <p class="description">Our work is helping start-up brands creating their vision and make it real, as well as providing fresh inputs to established fashion companies. we are womenswear, menswear and accessories designer with many years of top experience
                        in the industry.</p>
                    <div class="post-meta">Feel free to <a href="{% url 'contact' %}">contact us</a> for a quote on the services you need</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="menu2">
    <div class="text-center">
        <h5>Portfolio</h5>
    </div>
    <section id="portfolio" class="wow">
        <div class="container">
            <div class="section-header">
                <h2>Braams Fashion Hub</h2>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/1.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/1.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Official Suits</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                  <div class="portfolio-item wow fadeInUp">
                      <a href="{% static 'img/portfolio/ankaraladies.jpg'%}" class="portfolio-popup">
                          <img src="{% static 'img/portfolio/ankaraladies.jpg'%}" alt="">
                          <div class="portfolio-overlay">
                              <div class="portfolio-info">
                                  <h2 class="wow fadeInUp">Ankara ladies</h2>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/kidsoutfit.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/kidsoutfit.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Kids Outfits</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/2.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/2.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Wedding Outfits</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/africanoutfit.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/africanoutfit.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">African Outfits</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/casualoutfit.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/casualoutfit.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Casual Outfits</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/graduation.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/graduation.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Graduation gowns</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/customizedbags.png'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/customizedbags.png'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Customized Bags</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/unisexrubber.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/unisexrubber.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp">Unisex Rubber shoes</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                  <div class="portfolio-item wow fadeInUp">
                      <a href="{% static 'img/portfolio/snickersladies.jpg'%}" class="portfolio-popup">
                          <img src="{% static 'img/portfolio/snickersladies.jpg'%}" alt="">
                          <div class="portfolio-overlay">
                              <div class="portfolio-info">
                                  <h2 class="wow fadeInUp">Ladies Snickers</h2>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
            </div>

        </div>
    </section>
</div>
<!-- #portfolio -->

{% endblock content %}
