{% extends 'home/main.html' %} {% load static %} {% block title %}Portfolio{% endblock %}{% block content %}

<!--==========================
      Our Portfolio Section
    ============================-->
<style>
    .container1 {
        margin: 0 auto;
    }
    
    .column {
        padding: 10px;
    }
    
    .title {
        color: #666666;
        text-transform: uppercase;
    }
    
    .post-card {
        position: relative;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        background: #fff;
        min-width: 270px;
        height: 300px;
    }
    
    .post-card:hover,
    .hover {
        -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    }
    
    .date {
        top: 20px;
        right: 20px;
        z-index: 1;
        background: #e74c3c;
        width: 55px;
        height: 55px;
        border-radius: 100%;
        color: #FFFFFF;
        text-align: center;
        padding: 12.5px 0;
    }
    
    .post-content {
        bottom: 0;
        background: #FFFFFF;
        width: 100%;
        padding: 30px;
    }
    
    .category {
        position: absolute;
        top: -34px;
        left: 0;
        background: #e74c3c;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .title {
        margin: 0;
        padding: 0 0 10px;
        color: #333333;
        font-size: 26px;
        font-weight: 700;
    }
    
    .sub_title {
        margin: 0;
        padding: 0 0 20px;
        color: #e74c3c;
        font-size: 20px;
        font-weight: 400;
    }
    
    .description {
        color: #666666;
        font-size: 14px;
        line-height: 1.8em;
        display: none;
    }
    
    .up-title {
        margin: 0 0 15px;
        color: #666666;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .hover .post-content .description {
        display: block !important;
        height: auto !important;
        opacity: 1 !important;
    }
    
    .post-meta {
        margin: 30px 0 0;
        color: #999999;
    }
    
    .timestamp {
        margin: 0 16px 0 0;
    }
    
    .post-meta a {
        color: #0a07a5;
        text-decoration: none;
    }
</style>
<div class="pt-4"></div>
<div class="section-header container">
    <h2>Braams Fashion Hub</h2>
</div>

    <div class="container container1 pt-5 mb-5">
        <div class="column">
            <div class="post-card hover">
                <div class="post-content">
                    <div class="category">Fashion designers and consultants </div>
                    <h2 class="sub_title">We have a lot of experience in fashion trends.</h2>
                    <div>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Office Outfits</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Events Outfits</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Wedding Outfits</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> African Outfits</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Casual Outfits</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Graduation Outfits</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Kids Outfits</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Footwear(Official ladies/gents shoes)</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Ankara ladies/gents</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Unisex rubber shoes</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Sandals/Open shoes</span>
                        <span class="badge badge-secondary pt-1 pb-1 pr-1 pl-1 mr-1"> Customized bags</span>
                    </div>
                    <p class="description">Our work is helping start-up brands creating their vision and make it real, as well as providing fresh inputs to established fashion companies. we are womenswear, menswear and accessories designer with many years of top experience
                        in the industry.</p>
                    <div class="post-meta">Feel free to <a href="{% url 'contact' %}">contact us</a> for a quote on the services you need</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
