{% extends 'home/main.html' %} {% load static %} {% block title %}Portfolio{% endblock %}{% block content %}

<!--==========================
      Our Portfolio Section
    ============================-->
<style>
    .container1 {
        margin: 0 auto;
    }
    
    .column {
        padding: 10px;
    }
    
    .title {
        color: #666666;
        text-transform: uppercase;
    }
    
    .post-card {
        position: relative;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        background: #fff;
        min-width: 270px;
        height: 300px;
    }
    
    .post-card:hover,
    .hover {
        -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    }
    
    .date {
        top: 20px;
        right: 20px;
        z-index: 1;
        background: #e74c3c;
        width: 55px;
        height: 55px;
        border-radius: 100%;
        color: #FFFFFF;
        text-align: center;
        padding: 12.5px 0;
    }
    
    .post-content {
        bottom: 0;
        background: #FFFFFF;
        width: 100%;
        padding: 30px;
    }
    
    .category {
        position: absolute;
        top: -34px;
        left: 0;
        background: #e74c3c;
        padding: 10px 15px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .title {
        margin: 0;
        padding: 0 0 10px;
        color: #333333;
        font-size: 26px;
        font-weight: 700;
    }
    
    .sub_title {
        margin: 0;
        padding: 0 0 20px;
        color: #e74c3c;
        font-size: 20px;
        font-weight: 400;
    }
    
    .description {
        color: #666666;
        font-size: 14px;
        line-height: 1.8em;
        display: none;
    }
    
    .up-title {
        margin: 0 0 15px;
        color: #666666;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .hover .post-content .description {
        display: block !important;
        height: auto !important;
        opacity: 1 !important;
    }
    
    .post-meta {
        margin: 30px 0 0;
        color: #999999;
    }
    
    .timestamp {
        margin: 0 16px 0 0;
    }
    
    .post-meta a {
        color: #0a07a5;
        text-decoration: none;
    }
</style>
<div class="pt-4"></div>
<div class="section-header container">
    <h2>Our Portfolio</h2>
</div>

    <section id="portfolio" class="wow">
        

        <div class="container-fluid">
            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/1.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/1.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/3.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/3.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/4.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/4.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/pic5.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/pic5.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/pic12.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/pic12.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/pic5.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/pic5.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/pic2.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/pic2.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/pic7.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/pic7.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/pic10.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/pic10.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/pic7.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/pic7.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                  <div class="portfolio-item wow fadeInUp">
                      <a href="{% static 'img/portfolio/pic13.jpg'%}" class="portfolio-popup">
                          <img src="{% static 'img/portfolio/pic13.jpg'%}" alt="">
                          <div class="portfolio-overlay">
                              <div class="portfolio-info">
                                  <h2 class="wow fadeInUp"></h2>
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/pic3.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/pic3.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/2.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/2.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/pic14.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/pic14.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/graduation.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/graduation.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/customizedbags.png'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/customizedbags.png'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="{% static 'img/portfolio/unisexrubber.jpg'%}" class="portfolio-popup">
                            <img src="{% static 'img/portfolio/unisexrubber.jpg'%}" alt="">
                            <div class="portfolio-overlay">
                                <div class="portfolio-info">
                                    <h2 class="wow fadeInUp"></h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
              </div>
            </div>

        </div>
    </section>
</div>
<!-- #portfolio -->

{% endblock content %}
